{% extends "base.html" %}
{% block title %}{{ player_info.name }}{% endblock %}

{% block content %}
    <!-- Player header -->
    {% include "components/common/player_info.html" %}

    <!-- Player stats -->
    {% include "components/common/player_career_stats.html" %}

    <!-- Player visualization -->
    {% if player_viz %}
    <div class="row" style="padding-top: 8px; margin-left: -24px;">
        {{ player_viz | safe }}
    </div>
    {% else %}
    <h3 style="padding-top: 8px">Has not played in the MLB.</h3>
    {% endif %}

{% endblock %}
