/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

/* Global settings */
:root {
    /* Colours */
    --primary: #244D87;
    --secondary: #3E9FCA;
    --danger: #842C2E;
    --row: #FFF;
    --offset: #F7F7F7;

    /* Fonts */
    --normal: 400;
    --bold: 600;
    --headings: 20px;
    --text: 14px;

    /* Misc */
    --container: 1200px;
    --radius: 10px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: var(--primary);
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
    max-width: var(--container);
}

h2 {
  color: var(--row);
  font-weight: var(--bold);
  font-size: calc(var(--headings) + 4px);
  padding-left: 0 !important;
}

h3 {
  color: var(--row);
  font-weight: var(--bold);
  font-size: var(--headings);
  padding-left: 0 !important;
  margin-bottom: 0;
}

h4 {
  color: var(--row);
  font-weight: var(--bold);
  font-size: calc(var(--headings) - 4px);
  padding-left: 0 !important;
  margin-bottom: 0;
}

h5 {
  color: var(--secondary);
  font-weight: var(--bold);
  font-size: calc(var(--headings) - 8px);
  padding-left: 0 !important;
  margin: auto 0;
}

#player-team {
  color: var(--row);
  font-weight: var(--bold);
  font-size: calc(var(--headings) - 4px);
  text-decoration: none;
  padding-left: 0 !important;
}

/* Nav */
#navbar {
    background-color: #204377;
}

.nav {
  padding-top: 0px;
}

.nav-link {
    color: var(--row);
    font-weight: var(--normal);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 8px;
}

.nav-link:hover {
  color: var(--offset);
  font-weight: var(--normal);
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 7px;
}

.nav-link.active {
    color: var(--row);
    font-weight: var(--bold);
    border-top-style: solid;
    border-top-width: 3px;
    padding-top: 5px;
} */

/* Body */
#body {
    margin-top: 8px;
}

/* Table */
.division, .category {
  padding: 8px 0;
}

thead tr {
  background-color: var(--secondary);
  color: var(--row);
  font-size: var(--text);
  font-weight: var(--bold);
}

thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

thead tr th {
  padding: 4px 0;
}

tbody tr:nth-child(even) {
  background-color: var(--offset);
}

tbody tr:nth-child(odd) {
  background-color: var(--row);
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius);
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius);
}

tbody tr td {
  padding: 4px 0;
  font-size: var(--text);
}

/* Player type toggle */
.player-toggle {
  background-color: var(--row);
  color: var(--secondary);
  font-weight: var(--bold);
  font-size: var(--text);
  padding: 5px;
  border-radius: 30px;
  display: inline-block;
}

.player-toggle [name="playerType"] {
  display: none
}

.player-toggle input[type="radio"]+label {
  background-color: var(--row);
  color: var(--secondary);
  font-weight: var(--bold);
  font-size: var(--text);
  padding: 5px 20px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.player-toggle input[type="radio"]:checked+label {
  background-color: var(--secondary);
  color: var(--row);
  font-weight: var(--bold);
  font-size: var(--text);
}

.playerStyle {
  width: 48px;
  text-align: center;
  font-weight: var(--bold) !important;
}
