<div class="row" style="background-color: #204374">
  <header class="container">
    <nav class="navbar navbar-expand" style="padding-top: 0">
      <img
        class="navbar-brand img-fluid"
        src="{{ url_for('static', filename='images/Logo/homebase-logo.png') }}"
        alt="Homebase logo"
        style="max-width: 140px"
      />
      <div class="ms-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leaderboards">Leaderboards</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
