<div class="row">
  <!-- Player photo -->
  <div class="col-1" style="padding: 0">
    <img
      src="{{ player_info.photo }}"
      alt="Player photo"
      onerror="this.onerror=null;this.src='https://content.mlb.com/images/headshots/current/60x60/generic@2x.png';"
    />
  </div>

  <!-- Player name, position, team -->
  <div class="col-6" style="margin: auto 0; padding-left: 40px">
    <div class="row"><h2>{{ player_info.name }}</h2></div>
    <div class="row">
      <div class="col-1" style="display: table; padding-left: 0">
        <h4 style="display: table-cell; vertical-align: middle; color: var(--secondary)">{{ player_info.position }}</h4>
      </div>
      <div class="col-5" style="margin-left: -24px; padding: 0">
        <a
          href="{{ team_info.club_name }}"
          id="player-team"
          >{{ team_info.name }}</a
        >
      </div>
    </div>
  </div>

  <!-- Profile info -->
  <div class="col-5" style="margin: auto 0">
    <div
      class="row"
      style="justify-content: right; margin: 0; padding-right: 30px"
    >
      <div class="col-1" style="margin: 0 8px">
        <h5>B/T</h5>
      </div>
      <div class="col-1" style="margin: 0 8px">
        <h5>Age</h5>
      </div>
      <div class="col-1" style="margin: 0 8px"><h5>H</h5></div>
      <div class="col-1" style="margin: 0 8px"><h5>W</h5></div>
      <div class="col-1" style="margin: 0 8px">
        <h5>Drafted</h5>
      </div>
    </div>
    <div
      class="row"
      style="justify-content: right; margin: 0; padding-right: 30px"
    >
      <div class="col-1" style="margin: 0 8px">
        <h4>{{ player_info.bat_side }}/{{ player_info.pitch_hand }}</h4>
      </div>
      <div class="col-1" style="margin: 0 8px">
        <h4>{{ player_info.age }}</h4>
      </div>
      <div class="col-1" style="margin: 0 8px">
        <h4>{{ player_info.height }}</h4>
      </div>
      <div class="col-1" style="margin: 0 8px">
        <h4>{{ player_info.weight }}</h4>
      </div>
      <div class="col-1" style="margin: 0 8px">
        <h4>{{ player_info.draft_year }}</h4>
      </div>
    </div>
  </div>
</div>
