<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.plate_appearances[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.at_bats[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.runs[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.hits[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.doubles[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.triples[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.hrs[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.rbi[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.stolen_bases[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.bb[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.strikeouts[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.obp[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.slg[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.ops[loop.index0] }}
</td>
