<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.ip[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.wins[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.losses[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.saves[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.era[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.whip[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.hits[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.runs[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.strikeouts[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.bb[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.hr_per_9[loop.index0] }}
</td>
<td class="playerStyle" style="width: 40px; padding-right: 16px">
  {{ player_career.ops[loop.index0] }}
</td>
